[submodule "base_ai"]
	path = base_ai
	url = https://github.com/Dolan001/base_ai.git
	branch = dev
[submodule "drf_ai"]
	path = drf_ai
	url = https://github.com/Dolan001/drf_ai.git
	branch = dev
[submodule "fastapi_ai"]
	path = fastapi_ai
	url = https://github.com/Dolan001/fastapi_ai.git
	branch = dev
[submodule "nextjs_ai"]
	path = nextjs_ai
	url = https://github.com/Dolan001/nextjs_ai.git
	branch = dev
[submodule "react_ai"]
	path = react_ai
	url = https://github.com/Dolan001/react_ai.git
	branch = dev
[submodule "flutter_ai"]
	path = flutter_ai
	url = https://github.com/Dolan001/flutter_ai.git
	branch = dev
[submodule "aws_ai"]
	path = aws_ai
	url = https://github.com/Dolan001/aws_ai.git
	branch = dev
