[submodule "base"]
	path = base
	url = https://github.com/Dolan001/base.git
	branch = dev
[submodule "drf"]
	path = drf
	url = https://github.com/Dolan001/drf.git
	branch = dev
[submodule "fastapi"]
	path = fastapi
	url = https://github.com/Dolan001/fastapi.git
	branch = dev
[submodule "nextjs"]
	path = nextjs
	url = https://github.com/Dolan001/nextjs.git
	branch = dev
[submodule "react"]
	path = react
	url = https://github.com/Dolan001/react.git
	branch = dev
[submodule "flutter"]
	path = flutter
	url = https://github.com/Dolan001/flutter.git
	branch = dev
[submodule "aws"]
	path = aws
	url = https://github.com/Dolan001/aws.git
	branch = dev
[submodule "rag"]
	path = rag
	url = https://github.com/Dolan001/rag.git
	branch = dev
[submodule "webscraping"]
	path = webscraping
	url = https://github.com/Dolan001/webscraping.git
	branch = dev
