[submodule "base_ai"]
	path = base_ai
	url = https://github.com/potentialInc/claude-base-ai.git
	branch = dev
[submodule "django"]
	path = django
	url = https://github.com/potentialInc/claude-django.git
	branch = dev
[submodule "fastapi"]
	path = fastapi
	url = https://github.com/potentialInc/claude-fastapi.git
	branch = dev
[submodule "nextjs"]
	path = nextjs
	url = https://github.com/potentialInc/claude-nextjs.git
	branch = dev
[submodule "react"]
	path = react
	url = https://github.com/potentialInc/claude-react.git
	branch = dev
